HUB_URL = wss://orion-core.onrender.com
MY_ROOM_NAME = Project Orion
PORT = 8765
ROOM_MOTD = Welcome To Orion Network.
ROOM_PASSWORD = # empty = public room
RENDER_EXTERNAL_URL = # set on Render/cloud deployments
MSG_HISTORY_SIZE = 50